* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.calc {
    margin-top: 50px;
    padding: 20px 20px;
    border: 3px solid #999;
}
#total {
    font-size: 20px;
    font-weight: 900;
}
.film-imgs {
    padding-top: 47px;
}
.film-imgs img {
    display: none;
    width: 300px;
    height: 400px;
    object-fit: contain;
}
.baby-imgs {
    padding-top: 53px;
}
.baby-imgs img {
    display: none;
    width: 300px;
    height: 400px;
    object-fit: contain;
}
#imgs_1 {
    display: inline-block;
}
#photo_1 {
    display: inline-block;
}